{% extends 'base.html.twig' %}
{% block title %}Add blog {% endblock %}

{% block body %}
    <h4><a href="{{ path('blog_index') }}">Homepage</a></h4>

    <h1>Share something!</h1>

    {{ form_start(addBlogForm) }}
    {{ form_errors(addBlogForm) }}

    {{ form_row(addBlogForm.title) }}
    {{ form_row(addBlogForm.content) }}

    <button class="btn">Share</button>
    {{ form_end(addBlogForm) }}
{% endblock %}