{% extends 'base.html.twig' %}
{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
<h4><a href="{{ path('blog_index') }}">Homepage</a></h4>
{#{% for message in app.flashes('notice') %}#}
{#    {{ message }}#}
{#{% endfor %}#}
<h3>{{ blog.title }}</h3>
    <small>Posted by {{ user.username }}</small>
<p>{{ blog.content }}</p>



{{ form_start(addCommentForm) }}

    {{ form_row(addCommentForm.fullname) }}
    {{ form_row(addCommentForm.email) }}
    {{ form_row(addCommentForm.content) }}
<button class="btn">Send</button>

{{ form_end(addCommentForm) }}

<h3>Comments</h3>
{% if totalComments == 0 %}
<p>No comments yet</p>
{% endif %}

{% for comment in comments %}
    <h4>{{ comment.fullname }}</h4>
    <p>{{ comment.content }}</p>
{% endfor %}

{% endblock %}